<head>
    <script src="/public/app.js"></script>
</head>

<h2>New Workout</h2>
<form action="/{{this._id}}/workouts" method="POST">


<div class="form-group">

    <label for="name">Name</label>
    <input type="text" id="name" name="name" class="form-control"/>
    <label for="sets">Sets</label>
    <input type="text", id="sets" name="sets" class="form-control">
    <label for="repRangeLow">Rep Minimum</label>
    <input type="text", id="repRangeLow" name="repRangeLow" class="form-control">
    <label for="repRangeHigh">Rep Max</label>
    <input type="text", id="repRangeHigh" name="repRangeHigh" class="form-control">
    <label for="equipment">Equipment</label>
    <input type="text", id="equipment" name="equipment" class="form-control">
    <label for="muscleGroups">Muscle Group 1</label>
    <input type="text", id="muscleGroupOne" name="muscleGroups" class="form-control">
    <label for="muscleGroups">Muscle Group 2</label>
    <input type="text", id="muscleGroupTwo" name="muscleGroups" class="form-control">
    <label for="muscleGroups">Muscle Group 3</label>
    <input type="text", id="muscleGroupThree" name="muscleGroups" class="form-control">
    <label for="muscleGroups">Muscle Group 4</label>
    <input type="text", id="muscleGroupFour" name="muscleGroups" class="form-control">
    <label for="routineId"></label>
    <input type="hidden", id="routineId" name="routineId" class="form-control" value="{{this.id}}">
    

</div>

<input type="submit" class="btn btn-primary"/>
<a href="/{{this._id}}/workouts" class="btn btn-secondary">Cancel</a>

</form>