<h2>Add a Routine</h2>
<form action="/routines" method="POST">


<div class="form-group">

    <label for="name">Name</label>
    <input type="text" id="name" name="name" class="form-control"/>
    <label for="dayToDo">Scheduled Day</label>
    <input type="text", id="dayToDo" name="dayToDo" class="form-control">
    <label for="muscleGroups">Muscle Group 1</label>
    <input type="text", id="muscleGroupOne" name="muscleGroupOne" class="form-control">
    <label for="muscleGroups">Muscle Group 2</label>
    <input type="text", id="muscleGroupTwo" name="muscleGroupTwo" class="form-control">
    <label for="muscleGroups">Muscle Group 3</label>
    <input type="text", id="muscleGroupThree" name="muscleGroupThree" class="form-control">
    <label for="muscleGroups">Muscle Group 4</label>
    <input type="text", id="muscleGroupFour" name="muscleGroupFour" class="form-control">
    

</div>

<input type="submit" class="btn btn-primary"/>
<a href="/routines" class="btn btn-secondary">Cancel</a>

</form>